

{% extends "website/base.html" %}
<title>{% block title %} Home{% endblock %}</title>


{%block content%}
{% load static %}


{% load static %}
<div class="container-sm ">
  <img src="{% static 'website/car-wash-detailing-station.jpg' %}" class="img-fluid" style="width:100%;height: 100%;" alt="My image">
     

</div>
<div class="image-container">
  <img src="{% static 'website/car-wash-detailing-station.jpg' %}" class="img-fluid" style="width:100%;height: 100%;" alt="My image">
     
</div>



{% endblock%} 

